.container-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  z-index: 99999;
  animation: fadeIn ease .5s;
  -webkit-animation: fadeIn ease .5s;
  -moz-animation: fadeIn ease .5s;
  -o-animation: fadeIn ease .5s;
  -ms-animation: fadeIn ease .5s;
}
.card-popup {
  width: 500px;
  height: 300px;
  background: #ffffff;
  position: fixed;
  border-radius: 1em;
  top: 50%;
  left: 50%;
  z-index: 999999;
  transform: translate(-50%, -50%);
  animation: fadeIn ease .5s;
  -webkit-animation: fadeIn ease .5s;
  -moz-animation: fadeIn ease .5s;
  -o-animation: fadeIn ease .5s;
  -ms-animation: fadeIn ease .5s;
  .card-popup-text {
    font-family: "Roboto", serif;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: -1px;
    width: 60%;
    margin: 2rem auto;
    text-align: center;
  }
  .close-card-popup {
    font-size: 2rem;
    margin-right: 1rem;
    position: absolute;
    right: 0;
    cursor: pointer;
  }
  .card-popup-price {
    font-family: "Futura Black", serif;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: -1px;
    width: 60%;
    margin: 2rem auto;
    text-align: center;
  }
  .card-popup-center {
    text-align: center;
    .card-popup-button {
      background: #000;
      border: 0;
      padding: 8px 15px 8px 15px;
      color: #fff;
      border-radius: 20px;
      font-size: 1rem;
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0,0,0,.5);
  animation: fadeIn ease .5s;
  -webkit-animation: fadeIn ease .5s;
  -moz-animation: fadeIn ease .5s;
  -o-animation: fadeIn ease .5s;
  -ms-animation: fadeIn ease .5s;
  z-index: 99999;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.popup {
  width: 400px;
  height: 500px;
  background: #efefef;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;


  .popup-close {
    padding: 0.5rem;
    display: flex;
    justify-content: right;
    font-size: 1.5rem;
    cursor: pointer;
  }

  button.login-popup {
    background: #000;
    border: 0;
    padding: 0.7rem;
    margin-top: 2rem;
    font-family: "Futura Black", serif;
    color: #fff;
  }

  .logo-nike {
    display: flex;
    justify-content: center;
  }

  .privacy-popup {
    width: 270px;
    margin: 0 auto;
    font-size: .7rem;
    color: #565656;
  }

  .popup-text {
    font-family: "Roboto", serif;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: -1px;
    width: 60%;
    margin: 2rem auto;
    text-align: center;
  }

  .form-popup {
    form {
      display: flex;
      flex-direction: column;
      width: 270px;
      margin: 0 auto;

      input {
        padding: 0.7rem;
        margin-bottom: 1rem;
        border: 1px solid #cfcfcf;

        &:focus {
          outline: none;
        }
      }
    }
  }
}