$color-back: #f5f5f5;;
$color-a: black;
$text-h2: 22px;
$color-footer: #7e7e7e;

@font-face {
    font-family: "Futura Condensed" ;
    src: url(./Futura\ Condensed\ Extra\ Bold.otf);
}



body {
    margin: 0;
    padding: 0;
    font-family: "futura condensed";
    background-color: white;
    
}

p {
    line-height: 34px;
}

.nav-head {
    display: flex;
    justify-content: space-between;
    background-color: $color-back;
    align-items: center;
    padding-left: 31px;
    height: 2em;

    .image-logo {
        width: 38px;
    }

    .list-one {
        display: inline-flex;
        text-decoration: none;
        list-style-type: none;
        padding-right: 2em;

        .a-one {
            text-decoration: none;
            padding: 9px;
            font-size: 13px;
            color: $color-a;
            &:hover {
                color: transparent;
            }

        }
    }

}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 41px;

    .image-topleft {
        width: 57px;
    }

    .list-two {
        display: inline-flex;
        list-style-type: none;

        .a-two {
            text-decoration: none;
            padding: 9px;
            font-size: 18px;
            color: black;
            
        }
    }

    .conteiner-three {
        display: flex;
        align-items: center;

        .conteiner-search {
            border-radius: 12px;
            display: flex;
            align-items: center;
            height: 28px;
            background: $color-back;

            input:focus{
                outline: none;
                
            }

            #search-text {
                border: none;
                font-size: 11px;
                list-style-type: none;
                background: $color-back;
            }


        }

        .conteiner-heart-badge {
            .fav {
                margin: 11px;
                font-size: 24px;
            }
        }
    }
}

.nav-footer {
    width: 100%;
    height: 50px;
    background-color: $color-back;
    width: 100%;
}


.image-center {
    width: 100%;
}


.conteiner-text {
    display: flex;
    flex-direction: column;
    padding-left: 13em;
    padding-top: 3em;

    .text {
        font-size: $text-h2;

    }

    .conteiner-button {
        padding-top: 10px;
        
        .text-button {
            border: solid black;
            border-radius: 48px;
            background: black;
            color: white;
            font-size: 21px;
        }
    }
}

.second-image-center {
    display: flex;
    justify-content: center;

    .image-center-two {
        padding-top: 8em;
        width: 69vw;
    }
}

.text-training {
    display: flex;
    flex-direction: column;
    padding-left: 13em;
    padding-top: 3em;
    font-size: $text-h2;


    .head-text-training {
       .text-link {
        color: $color-a;
        &:hover {
            color: grey;
        }
       }
        
        
    }

    .footer-text-training {
        .text-link {
            color: $color-a;
            &:hover {
                color: grey;
            }
        }
    }
}

.training-fit {
    display: flex;
    justify-content: center;

    .image-center-three {
        width: 93vw;
        padding-top: 5em;
    }
}

.training-club {
    font-size: $text-h2;
    padding-left: 13em;
    padding-top: 3em;
}

.conteiner {
    display: flex;
    justify-content: center;
    padding-top: 5em;

    .image-card {
        height: 77vh;
        margin: 10px;
    }

    .title-card {
        font-size: $text-h2;
        color: rgb(24, 22, 22)
    }

    .text-card {
        font-size: 17px;
        color: rgb(24, 22, 22)
    }
}

.image-fit-center {
    display: flex;
    justify-content: center;

    .image-fit {
        width: 66vw;
        padding-top: 5em;
    }
}

.text-plan {
    flex-direction: column;
    padding-top: 4em;
    padding-left: 13em;
    width: 69vw;
    font-size: $text-h2;
}

.image-fit-second {
    display: flex;
    justify-content: center;

    .image-center-four {
        padding-top: 4em;
        width: 62vw;
    }
}

.text-train {
    display: flex;
    flex-direction: column;
    font-size: $text-h2;
    padding-top: 4em;
    padding-left: 13em;
    width: 69vw;
}


.conteiner-carousel {
    padding-top: 3em;

    .button-carousel {
        text-align: end;
        padding-right: 3em;

        .button-for-carousel {
            border: solid transparent;
            border-radius: 50%;
            height: 4em;
            width: 4em;
            margin: 3px;
        }
    }

    .carousel-list {
        overflow-x: scroll;
        display: flex;
        list-style-type: none;
        
        p {
        font: -webkit-control;
        font-size: 26px;
        }

        .image-carousel {
            width: 28em;
            margin-inline: 8px;
        }
    }
}

#image-center-six {
    display: flex;
    justify-content: center;
    padding-top: 7em;

    .image-fitness {
        width: 89vw;
    }
}

#list-for-app {
    display: flex;
    flex-direction: column;
    font-size: $text-h2;
    padding-top: 4em;
    padding-left: 13em;

}

#image-center-seven {
    display: flex;
    justify-content: center;
    padding-top: 3em;

    .image-center-five {
        width: 62vw;

}
}

.text-training-club {
    display: block;
    padding-left: 14em;
    line-height: 23px;
    padding-top: 3em;
    font-size: $text-h2;
}

#image-center-eight {
    display: flex;
    justify-content: center;
    padding-top: 3em;

    .image-smartphone-center {
        width: 93vw;
    }


}

#text-finish-line {
    padding-left: 13em;
    line-height: 24px;
    font-size: $text-h2;
    padding-top: 3em;
}


#image-center-nine {
    display: flex;
    justify-content: center;
    padding-top: 4em;
}

.image-nike-work {
    width: 67vw;
}

#text-club {
    display: flex;
    flex-direction: column;
    padding-left: 11em;
    line-height: 21px;
    padding-top: 4em;
    font-size: 22px;

    .button-of-text {
        width: 6em;
        height: 3em;
        border: solid;
        border-radius: 22px;
        background: black;
        font-size: 16px;
    }


    .text-of-button {
        color: white;
        text-decoration: none;
        }

}


.text-link-second {
    color: $color-a;
    &:hover {
        color: grey;

    }
}

#image-center-ten {
    display: flex;
    justify-content: center;
    padding-top: 3em;

    .image-nike-work-second {
        width: 66vw;
    }
}

#text-footer {
    display: flex;
    flex-direction: column;
    padding-left: 13em;
    padding-top: 4em;
    font-size: $text-h2;
}

#image-center-footer {
    display: flex;
    justify-content: center;
    padding-top: 5em;

    .image-last {
        width: 58vw;
    }
}

.text-final-footer {
    display: flex;
    flex-direction: column;
    padding-left: 12em;
    font-size: $text-h2;
    padding-top: 4em;

    .ft-button {
        width: 7em;
        height: 3em;
        border: solid;
        border-radius: 24px;
        font-size: 14px;
        background: black;
    }

    .txt-footer {
        color: white;
        text-decoration: none;
    }
}

#conteiner-footer {
    padding-bottom: 3em;
}

#text-section-footer {
    font-size: $text-h2;
    padding-left: 2em;
    padding-top: 3em;
}

.cards-footer {
    display: flex;
    justify-content: center;
}

.image-card-footer {
    width: 30vw;
    margin: 10px;
}
.caption-card {
    font-size: 22px;
    margin: auto;
    padding-left: 10px;

    .title-card {
        display: flex;
        align-items: center;
    }
}

footer {
    background-color: white;
    margin-bottom: 2em;
    
    #footer-conteiner {
        background-color: #111;
        
        .conteiner-footer-list {
            display: flex;
            
            .footer-list {
                color: white;
                list-style-type: none;
                inline-size: 17em;
                font-size: 11px;
                padding-top: 12px;
                margin-left: 3em;
                li {
                    padding: 10px;
                }
                
                .text-mod-footer {
                    color: $color-footer;
                    &:hover {
                        color: white;
                        cursor: pointer;
                    }
                }
            }
            
            .footer-icon-list {
                display: inline-flex;
                text-align: center;
                list-style-type: none;
                padding-left: 12em;
                
                .circle-svg {
                    &:hover {
                        color: transparent;
                        transition: 2ms;
                        cursor: pointer;
                    }
                    
                }
                
                .fab {
                    margin: 9px;
                    background: $color-footer;
                    border-radius: 41%;
                    inline-size: 27px;
                    font-size: 25px;
                    
                }
            }
        }
        
        .l-sub-footer {
            display: flex;
            flex-direction: column-reverse;
            
            .sub-logo-footer {
                padding-left: 6em;
                font-size: 11px;

                .pointer-footer {
                    text-decoration: none;
                    color: white;
                    font-size: 11px;

                    .pointer-logo {
                        font-size: 17px;
                        margin: 12px;
                        
                    }

                    .text-it {
                        text-decoration: none;
                        color: white;
                        font-size: 11px;
                    }

                }

                .text-nike-inc {
                    color: $color-footer;
                    padding: 19px;
                    font-size: 10px;
                }
                
            }
            
            .footer-text-list {
                display: inline-flex;
                text-align-last: end;
                color: #7e7e7e;
                flex-flow: wrap;
                place-items: flex-end;
                list-style-type: none;
                font-size: 11px;
                padding-left: 77em;
                
                
                .ft-li {
                    padding: 15px;
                    &:hover {
                        cursor:pointer;
                        color: white;
                    }
                }

                .first:first-child {
                     padding-bottom: 15px;
                     padding-right: 15px;
                }

                .ft-li:last-child {
                     flex-basis: 100%;
                    height: 0;
                    padding-right: 35px;
                }
            
                
            }
        }
    }
}