body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

p {
  line-height: 34px;
  font-size: 20px;
}

.nav-head {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  align-items: center;
  padding-left: 31px;
  height: 2em;
}
.nav-head .image-logo {
  width: 38px;
}
.nav-head .list-one {
  display: inline-flex;
  text-decoration: none;
  list-style-type: none;
  padding-right: 2em;
}
.nav-head .list-one .a-one {
  text-decoration: none;
  padding: 9px;
  font-size: 13px;
  color: black;
}
.nav-head .list-one .a-one:hover {
  color: transparent;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 41px;
}
.nav-main .image-topleft {
  width: 57px;
}
.nav-main .list-two {
  display: inline-flex;
  list-style-type: none;
}
.nav-main .list-two .a-two {
  text-decoration: none;
  padding: 9px;
  font-size: 18px;
  color: black;
}
.nav-main .conteiner-three {
  display: flex;
  align-items: center;
}
.nav-main .conteiner-three .conteiner-search {
  border-radius: 12px;
  display: flex;
  align-items: center;
  height: 28px;
  background: #f5f5f5;
}
.nav-main .conteiner-three .conteiner-search input:focus {
  outline: none;
}
.nav-main .conteiner-three .conteiner-search #search-text {
  border: none;
  font-size: 11px;
  list-style-type: none;
  background: #f5f5f5;
}
.nav-main .conteiner-three .conteiner-heart-badge .fav {
  margin: 11px;
  font-size: 24px;
}

.nav-footer {
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
  width: 100%;
}

.image-center {
  width: 100%;
}

.conteiner-text {
  display: flex;
  flex-direction: column;
  padding-left: 10em;
  padding-top: 3em;
}
.conteiner-text .text {
  font-size: 17px;
}
.conteiner-text .conteiner-button {
  padding-top: 10px;
}
.conteiner-text .conteiner-button .text-button {
  border: solid black;
  border-radius: 48px;
  background: black;
  color: white;
  font-size: 21px;
}

.second-image-center {
  display: flex;
  justify-content: center;
}
.second-image-center .image-center-two {
  padding-top: 8em;
  width: 69vw;
}

.text-training {
  display: flex;
  flex-direction: column;
  padding-left: 10em;
  padding-top: 3em;
  font-size: 17px;
}
.text-training .head-text-training .text-link {
  color: black;
}
.text-training .head-text-training .text-link:hover {
  color: grey;
}
.text-training .footer-text-training .text-link {
  color: black;
}
.text-training .footer-text-training .text-link:hover {
  color: grey;
}

.training-fit {
  display: flex;
  justify-content: center;
}
.training-fit .image-center-three {
  width: 93vw;
  padding-top: 5em;
}

.training-club {
  font-size: 17px;
  padding-left: 10em;
  padding-top: 3em;
}

.conteiner {
  display: flex;
  justify-content: center;
  padding-top: 5em;
}
.conteiner .card {
  padding: 9px;
}
.conteiner .card .image-card {
  margin: 0px;
  max-width: 100%;
}
.conteiner .card .title-card {
  font-size: 17px;
  color: #181616;
}
.conteiner .card .text-card {
  font-size: 17px;
  color: #181616;
}

.image-fit-center {
  display: flex;
  justify-content: center;
}
.image-fit-center .image-fit {
  width: 66vw;
  padding-top: 5em;
}

.text-plan {
  flex-direction: column;
  padding-top: 4em;
  padding-left: 10em;
  width: 69vw;
  font-size: 17px;
}

.image-fit-second {
  display: flex;
  justify-content: center;
}
.image-fit-second .image-center-four {
  padding-top: 4em;
  width: 62vw;
}

.text-train {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  padding-top: 4em;
  padding-left: 10em;
  width: 69vw;
}

.conteiner-carousel {
  padding-top: 3em;
}
.conteiner-carousel .button-carousel {
  text-align: end;
  padding-right: 3em;
}
.conteiner-carousel .button-carousel .button-for-carousel {
  border: solid transparent;
  border-radius: 50%;
  height: 4em;
  width: 4em;
  margin: 3px;
}
.conteiner-carousel ::-webkit-scrollbar {
  width: 0.5em;
}
.conteiner-carousel ::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 0.5em;
}
.conteiner-carousel ::-webkit-scrollbar-thumb {
  background: #f5f5f5;
  border-radius: 100vw;
}
.conteiner-carousel .carousel-list {
  overflow-x: scroll;
  display: flex;
  list-style-type: none;
  margin-inline-start: 48px;
  overflow: auto;
}
.conteiner-carousel .carousel-list p {
  font: -webkit-control;
  line-height: 23px;
  font-size: x-large;
  font-family: arial;
}
.conteiner-carousel .carousel-list .image-carousel {
  width: 28em;
  margin-inline: 8px;
}

#image-center-six {
  display: flex;
  justify-content: center;
  padding-top: 7em;
}
#image-center-six .image-fitness {
  width: 89vw;
}

#list-for-app {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  padding-top: 4em;
  padding-left: 10em;
}

#image-center-seven {
  display: flex;
  justify-content: center;
  padding-top: 3em;
}
#image-center-seven .image-center-five {
  width: 62vw;
}

.text-training-club {
  display: block;
  padding-left: 10em;
  line-height: 23px;
  padding-top: 3em;
  font-size: 17px;
}

#image-center-eight {
  display: flex;
  justify-content: center;
  padding-top: 3em;
}
#image-center-eight .image-smartphone-center {
  width: 93vw;
}

#text-finish-line {
  padding-left: 10em;
  line-height: 38px;
  font-size: 17px;
  padding-top: 3em;
}

#image-center-nine {
  display: flex;
  justify-content: center;
  padding-top: 4em;
}

.image-nike-work {
  width: 67vw;
}

#text-club {
  display: flex;
  flex-direction: column;
  padding-left: 10em;
  line-height: 21px;
  padding-top: 4em;
  font-size: 22px;
}
#text-club .button-of-text {
  width: 6em;
  height: 3em;
  border: solid;
  border-radius: 22px;
  background: black;
  font-size: 16px;
}
#text-club .text-of-button {
  color: white;
  text-decoration: none;
}

.text-link-second {
  color: black;
}
.text-link-second:hover {
  color: grey;
}

#image-center-ten {
  display: flex;
  justify-content: center;
  padding-top: 3em;
}
#image-center-ten .image-nike-work-second {
  width: 66vw;
}

#text-footer {
  display: flex;
  flex-direction: column;
  padding-left: 10em;
  padding-top: 4em;
  font-size: 17px;
}

#image-center-footer {
  display: flex;
  justify-content: center;
  padding-top: 5em;
}
#image-center-footer .image-last {
  width: 58vw;
}

.text-final-footer {
  display: flex;
  flex-direction: column;
  padding-left: 10em;
  font-size: 17px;
  padding-top: 4em;
}
.text-final-footer .ft-button {
  width: 7em;
  height: 3em;
  border: solid;
  border-radius: 24px;
  font-size: 14px;
  background: black;
}
.text-final-footer .txt-footer {
  color: white;
  text-decoration: none;
}

#conteiner-footer {
  padding-bottom: 3em;
}

#text-section-footer {
  font-size: 17px;
  padding-left: 1em;
  padding-top: 6em;
}

.cards-footer {
  display: flex;
  justify-content: center;
}

.image-card-footer {
  width: 30vw;
  margin: 10px;
}

.caption-card {
  font-size: 22px;
  margin: auto;
  padding-left: 10px;
}
.caption-card .title-card {
  display: flex;
  align-items: center;
}

footer {
  background-color: white;
  margin-bottom: 2em;
  width: 100%;
  min-height: 200px;
}
footer #footer-conteiner {
  background-color: #111;
}
footer #footer-conteiner .conteiner-footer-list {
  display: flex;
}
footer #footer-conteiner .conteiner-footer-list .conteiner-list-footer-text {
  display: flex;
  flex-wrap: wrap;
}
footer #footer-conteiner .conteiner-footer-list .footer-list {
  color: white;
  list-style-type: none;
  inline-size: 17em;
  font-size: 11px;
  padding-top: 12px;
  margin-left: 3em;
}
footer #footer-conteiner .conteiner-footer-list .footer-list li {
  padding: 10px;
}
footer #footer-conteiner .conteiner-footer-list .footer-list .text-mod-footer {
  color: #7e7e7e;
}
footer #footer-conteiner .conteiner-footer-list .footer-list .text-mod-footer:hover {
  color: white;
  cursor: pointer;
}
footer #footer-conteiner .conteiner-footer-list .footer-icon-list {
  display: inline-flex;
  text-align: center;
  list-style-type: none;
  flex-wrap: wrap;
}
footer #footer-conteiner .conteiner-footer-list .footer-icon-list .circle-svg:hover {
  color: transparent;
  transition: 2ms;
  cursor: pointer;
}
footer #footer-conteiner .conteiner-footer-list .footer-icon-list .fab {
  margin: 9px;
  background: #7e7e7e;
  border-radius: 41%;
  inline-size: 27px;
  font-size: 25px;
}
footer #footer-conteiner .sub-footer-a {
  min-inline-size: fit-content;
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer #footer-conteiner .sub-logo-footer {
  font-size: 11px;
}
footer #footer-conteiner .sub-logo-footer .pointer-footer {
  text-decoration: none;
  color: white;
  font-size: 11px;
}
footer #footer-conteiner .sub-logo-footer .pointer-footer .pointer-logo {
  font-size: 17px;
  margin: 12px;
}
footer #footer-conteiner .sub-logo-footer .pointer-footer .text-it {
  text-decoration: none;
  color: white;
  font-size: 11px;
}
footer #footer-conteiner .sub-logo-footer .text-nike-inc {
  color: #7e7e7e;
  padding: 19px;
  font-size: 10px;
}
footer #footer-conteiner .footer-text-list {
  color: #7e7e7e;
  flex-flow: wrap;
  place-items: flex-end;
  list-style-type: none;
  font-size: 11px;
  display: inline-flex;
}
footer #footer-conteiner .footer-text-list .ft-li {
  padding: 15px;
}
footer #footer-conteiner .footer-text-list .ft-li:hover {
  cursor: pointer;
  color: white;
}
footer #footer-conteiner .footer-text-list .first:first-child {
  padding-bottom: 15px;
  padding-right: 15px;
}
footer #footer-conteiner .footer-text-list .ft-li:last-child {
  flex-basis: 100%;
  height: 0;
  padding-right: 6em;
}

@media screen and (max-width: 954px) {
  .nav-head {
    display: none;
  }

  .conteiner-two {
    display: none;
  }

  .conteiner-three {
    flex-direction: row-reverse;
  }

  i.fav.far.fa-heart {
    display: none;
  }

  .conteiner-text {
    padding-left: 5em;
    font-size: 5px;
  }

  .text-training {
    padding-left: 0em;
  }

  .training-club {
    padding-left: 0em;
  }

  .text-plan {
    padding-left: 0em;
  }

  .text-train {
    padding-left: 0em;
  }

  #list-for-app {
    padding-left: 0em;
  }

  .text-training-club {
    padding-left: 0em;
  }

  #text-finish-line {
    padding-left: 0em;
  }

  #text-finish-line {
    padding-left: 0em;
  }

  #text-footer {
    padding-left: 0em;
  }

  .text-final-footer {
    padding-left: 0em;
  }

  #text-club {
    padding-left: 0em;
  }
}

/*# sourceMappingURL=style.css.map */
