body {
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
a,
li {
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 22px;
}

h3 {
  text-decoration: underline 5px #111111;
}

p {
  line-height: 1.7;
  font-size: 14px;
}

figcaption {
  font-weight: bold;
  text-decoration: underline 5px #111111;
  padding: 7px;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 70px;
  margin: 1rem;
}

.text > p,
h3 {
  text-align: center;
  color: gray;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 1rem;
}

.search img {
  width: 30px;
}

.search input {
  display: none;
  background-color: whitesmoke;
}

#icomenu {
  width: 30px;
  cursor: pointer;
  margin-right: 20px;
}

/* section one */

.first .card p {
  font-size: 20px;
}

.first {
  align-items: flex-start;
}

.first .card {
  max-width: 27%;
  margin-left: 3rem;
}

.first .card > a {
  text-decoration: underline 5px #111111;
}

/* all sections */

.card {
  margin-right: 3rem;
}

.card > a {
  font-weight: bold;
  font-size: 16px;
}

section {
  display: flex;
  margin: 5rem 3rem;
  justify-content: center;
  align-items: center;
}

section img {
  max-width: 100%;
}

/* footer */

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

ul span {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline 3px;
  color: #111111;
  font-weight: bold;
}

ul li {
  font-size: 30px;
  font-weight: bold;
  padding: 13px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright p {
  margin-right: 70px;
}
.copyright p,
.footer-links a {
  color: gray;
  font-size: 13px;
}

.footer-links a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  body {
    display: block;
  }

  h1,
  h2,
  h3,
  p,
  a,
  li {
    font-size: 14px;
  }

  header {
    display: block;
  }

  .right {
    position: absolute;
    top: 20px;
    right: 3px;
  }

  .search,
  .menu {
    margin: 0;
    padding: 0;
  }

  .first .card {
    max-width: 100%;
    margin-left: 0;
    padding-top: 20px;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .card {
    margin-bottom: 1rem;
  }

  .copyright {
    display: flex;
    flex-direction: column;
  }

  footer ul {
    margin-right: 37px;
  }

  .copyright p {
    margin-left: 37px;
  }
}
