.brand-header,
.brands ul, .nav-header,
.desktop-menu,
.header-button {
  display: flex;
  justify-content: space-between;
}

.brand-header {
  height: 36px;
}

.brand-header,
.brands ul {
  align-items: center;
  margin: auto;
}

.brand-header {
  background-color: #f5f5f5;
}

.brands ul li {
  padding: 0 12px;
}

.user-menu a {
  padding: 4px 8px;
  font-size: 12px;
  line-height: 14px;
}

.user-menu {
  display: flex;
  vertical-align: baseline;
  box-sizing: inherit;
}

.pad-header {
  padding: 0 38px 0 36px;
}

.nav-header,
.desktop-menu,
.header-button {
  align-items: center;
}

.nav-menu {
  display: flex;
  width: 62%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-header {
  height: 60px;
}

.nav-inside-menu {
  height: 100%;
  display: flex;
  justify-content: center;
}

.desktop-menu {
  position: relative;
  overflow: hidden;
}
.desktop-menu li a {
  padding: 16px 12px 18px;
}

.desktop-search {
  margin-left: auto;
  margin-right: 20px;
}

.search-bar {
  max-width: 180px;
  display: flex;
  position: relative;
}

.input-bar {
  border: none;
  border-radius: 25px;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
}

.input-bar::placeholder {
  color: #d8cfcc;
  font-size: 16px;
  padding: 8px 48px;
}

button {
  background-color: transparent;
  border: none;
}

.btn {
  padding: 5px;
  position: absolute;
}

.btn:nth-child(2) {
  right: 0;
  display: none;
}

.btn svg {
  width: 80%;
}

.nav-logo {
  padding: 0 12px;
}

.pad-product {
  padding: 6px;
}

.favorite-product {
  margin-right: 12px;
}

.banner-text {
  height: auto;
  min-height: 58px;
  max-height: 63px;
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
  position: relative;
  background: #f5f5f5;
  padding-top: 10px;
  text-align: center;
}
.banner-text p {
  font-size: 16px;
}
.banner-text a {
  font-size: 12px;
  text-decoration: underline;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1130px) {
  .desktop-menu li:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .desktop-menu li:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .brand-header {
    display: none;
  }

  .desktop-menu {
    display: none;
  }

  .input-bar {
    width: 0;
  }

  .search-bar {
    position: relative;
  }
  .search-bar .btn {
    position: inherit;
  }

  .favorite-product {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .desktop-search {
    margin-left: 0;
    margin-right: 0;
    order: 2;
  }

  .header-button {
    margin-left: auto;
    order: 1;
  }

  .pad-header {
    padding: 0 14px 0 16px;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  color: #111;
  background-color: #fff;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  border: none;
  color: #111;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.separator {
  margin: 0 4px 0 4px;
}

img {
  width: 100%;
  height: auto;
}

header,
.main-stick-nav,
main,
footer {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sect-main-stick {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.main-stick-nav {
  width: 100%;
  padding: 26px 0 34px;
  background-color: #fff;
}

.items-img {
  position: relative;
  min-width: 300px;
  min-height: 300px;
  z-index: -1;
}
.items-img img {
  object-fit: contain;
}

.items-wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.main-container h1 {
  font-size: 24px;
  font-weight: 500;
}

.menu {
  width: 64%;
  display: inline-flex;
}

.text-wrap {
  word-break: keep-all;
}

.menu li {
  padding: 0 16px;
}

.img-container {
  display: flex;
  justify-content: center;
}

.pre-center-text {
  margin-top: 84px;
  display: flex;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.text-title {
  font-family: Nike Futura;
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
  letter-spacing: -3px;
}

.text-top-margin {
  margin-top: 24px;
}

.text-container {
  font-size: 20px;
  line-height: 28px;
}

.buy-btn {
  margin: 6px 6px 0 0;
  padding: 9px 19px;
  background-color: #111;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  border-radius: 30px;
}

.sect-trend {
  margin-top: 84px;
}

.trend-header {
  margin: 0 0 12px;
  padding: 2px 48px 0;
  display: flex;
  justify-content: space-between;
}

.trend-header h2 {
  font-size: 24px;
  font-weight: 500;
}

.icons-trend {
  display: flex;
  justify-content: space-between;
}

.icon-trend:nth-child(1) {
  margin-right: 12px;
  background-color: #f5f5f5;
  color: #d1d1d1;
}

.icon-trend {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #e5e5e5;
  border-radius: 100%;
}

.items-details {
  display: flex;
  justify-content: space-between;
  margin: 12px 16px 0 0;
  font-size: 16px;
  line-height: 24px;
}
.items-details h4 {
  font-weight: 500;
}

.items-category {
  color: #757575;
}

.container-trend {
  display: flex;
  justify-content: space-between;
  margin-inline-start: 48px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 30px;
  color: transparent;
  transition: color 0.3s ease-in-out;
}
.container-trend::-webkit-scrollbar {
  width: 14px;
}
.container-trend::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
.container-trend::-webkit-scrollbar-track {
  margin-inline-start: 14px;
  margin-inline-end: 26px;
}
.container-trend::-webkit-scrollbar-corner {
  background-color: transparent;
}
.container-trend::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 5px solid transparent;
  border-radius: 10px;
  box-shadow: inset 0 0 0 10px;
}

.carousel-trend:hover > .container-trend {
  color: #757575;
}

.container-items {
  flex: 0 0 calc(33% - 18px);
  margin-right: 12px;
  scroll-snap-align: start;
}

.sect-season {
  margin: 84px 40px 0 40px;
}

.title-season {
  font-weight: 500;
  margin-bottom: 24px;
}

.banner-season {
  display: flex;
  position: relative;
}

.banner-img {
  display: flex;
  flex-flow: column;
  position: relative;
  z-index: -1;
  padding-left: 6px;
  padding-right: 6px;
}

.image-media {
  min-height: 300px;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-picture {
  width: 100%;
  height: 100%;
}

.banner-inside {
  height: 33%;
  width: auto;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  text-align: left;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  left: 48px;
  top: calc(66% - 48px);
}

.banner-shipment {
  top: 35%;
}

.banner-other {
  padding: 0;
  top: 0;
}

.title-inside {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  vertical-align: baseline;
  color: #ffffff;
}

.title-btn {
  margin-top: 24px;
}

.items-iconic h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.items-news {
  font-size: 24px;
  margin-top: 48px;
}

.title-margin {
  margin-top: 24px;
  margin-bottom: 0;
}

.sect-category {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.sect-category .inside-category {
  max-width: 184px;
  max-height: 192px;
  padding: 0 36px 0 36px;
  transition: max-height 0.5s ease-in-out;
}
.sect-category .inside-category h4 {
  font-weight: 500;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
  max-height: 48px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sect-category .inside-category ul li a {
  color: #757575;
}
.sect-category ul:nth-child(4) {
  font-size: 16px;
  margin-right: 0;
}
.sect-category li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 12px;
}

.inside-category:hover {
  overflow: none;
  max-height: 500px;
}

main {
  margin-bottom: 56px;
}

@media screen and (max-width: 960px) {
  .main-stick-nav {
    padding: 36px 0 24px;
  }

  .main-container {
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
  }
  .main-container h1 {
    margin-right: auto;
    margin-bottom: 25px;
    width: 100%;
  }
  .main-container .menu {
    width: 100%;
  }
  .main-container .menu li {
    box-sizing: border-box;
  }
  .main-container .menu :nth-child(1) {
    padding-left: 0;
  }
  .main-container .menu :nth-child(5) {
    padding-right: 0;
  }
}
footer {
  width: 100%;
  min-height: 200px;
  background-color: #111;
}

.footer-margin {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding: 40px 40px 0 40px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-social-link {
  display: inline-flex;
  justify-content: flex-end;
  width: 25%;
}
.footer-social-link ul {
  display: flex;
}
.footer-social-link ul li {
  margin-left: 16px;
}
.footer-social-link ul li a svg {
  fill: #7e7e7e;
}

.footer-font {
  font-family: Nike TG;
  font-size: 14px;
}
.footer-font li {
  margin-bottom: 3px;
}

.footer-link {
  margin-right: 10px;
}
.footer-link ul li {
  height: 32px;
}
.footer-link ul li a {
  color: #fff;
}
.footer-link a:not(.footer-font, .footer-font li a) {
  font-size: 12px;
  line-height: 2.3;
  font-weight: 400;
  color: #7e7e7e;
}

.footer-guide {
  display: flex;
  justify-content: flex-end;
}
.footer-guide ul {
  display: flex;
}
.footer-guide ul li a {
  font-size: 10px !important;
  padding: 8px;
}

.footer-location {
  display: flex;
  justify-content: space-between;
}
.footer-location a:not(.margin-ignore) {
  margin-left: 18px;
  font-size: 10px !important;
  padding: 8px;
}
.footer-location span {
  font-size: 10px !important;
  padding: 8px;
}
.footer-location ul {
  display: flex;
}
.footer-location ul li a svg {
  fill: #fff;
}

@media screen and (max-width: 788px) {
  .footer-social-link ul {
    flex-direction: column;
  }
}
@font-face {
  font-family: Nike Futura;
  src: url("../assets/fonts/Nike-Futura.otf");
}
@font-face {
  font-family: Nike TG;
  src: url("../assets/fonts/Nike-TG.woff2");
}

/*# sourceMappingURL=style.css.map */
