@font-face {
  font-family: "Nike1";
  src: url("/SmartApp-page/assets/smart-fonts/nike-1.woff");
}

@font-face {
  font-family: "Nike2";
  src: url("/SmartApp-page/assets/smart-fonts/Nike-2.woff2");
}
$style: lightgrey;

body {
  height: 100vh;
  width: 99vw;
  margin: 0;
  padding: 0;
  font-family: "Nike1";
}

header {
  background-color: #f5f5f5;
}

/* dove ci sono i logo iniziali*/

.first-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 80px;
}

.logo-jordan {
  height: 28px;
  width: 50px;
  margin: 15px 5px 15px 5px;
  &:hover {
    color: $style;
  }
}

.logo-converse {
  height: 30px;
  width: 50px;
  margin: 15px 5px 15px 5px;
}

.title-nike {
  margin-left: 6rem;
}

.first-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  ul {
    list-style-type: none;
    li {
      display: inline;
      margin: 5px;
      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: $style;
          transition: 2ms;
          cursor: pointer;
        }
      }
    }
  }
}

/*termina la prima riga*/

.second-section {
  height: 70px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
}

.logo-nike {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 90px;
}

.nike {
  height: 30px;
  width: 50px;
}

.list-link {
  width: 100%;
  display: flex;
  justify-content: center;
  .menu {
    list-style-type: none;
    li {
      display: inline-block;
      text-transform: uppercase;
      font-size: 15px;
      position: relative;
      a {
        display: block;
        padding: 15px 30px;
        text-decoration: none;
        color: black;
        transition: 0.3s;
        &:hover {
          color: lightgrey;
          border-bottom: 2px solid black;
        }
      }
    }
  }
}

.sub-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100px;
  border-bottom: none;
  visibility: hidden;
  li {
    width: 200px;
    font-size: 12px;
    a {
      color: #222;
      &:hover {
        background-color: rgb(243, 95, 95);
      }
    }
  }
}

.end-board {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem;
}

.awsome {
  display: flex;
  align-items: center;
  i {
    margin: 1rem;
  }
}
.lens-search {
  border-radius: 12px;
  display: flex;
  align-items: center;
  height: 28px;
  background: #f5f5f5;
}

#search {
  border: none;
  font-size: 11px;
  list-style-type: none;
  background: #f5f5f5;
  &:focus {
    outline: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

//initial pop-up
.pop-up-container {
  position: fixed;
  display: none;
  background: white;
  bottom: 0;
  height: 450px;
  width: 450px;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
  border: none;
  width: 24rem;
  height: 30rem;
  text-align: center;
  z-index: 5;
  filter: opacity(0.7);
  h3 {
    font-size: 15px;
    font-family: "Nike2";
  }
}
.popup {
  width: 500px;
  height: 400px;
  background: #fefefe;
  margin: 40px auto;
  padding: 10px 20px;
  position: relative;
  color: #333;
}
#enter-popup {
  display: none;
}

#close-popup {
  position: absolute;
  top: 0px;
  right: 0px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 25px;
  cursor: pointer;
}
#logo-pop {
  width: 60px;
  margin: 10px;
}
#form-pop {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.inp-popup {
  height: 30px;
  border: 1px solid lightgray;
  margin: 10px;
}
#checkP {
  display: flex;
  text-align: center;
  align-items: center;
  input {
    background-color: #333;
  }
  p {
    font-size: 15px;
    margin: 10px;
  }
  a {
    color: lightgray;
  }
  &:hover {
    cursor: pointer;
    color: lightgray;
  }
}

.policy {
  font-size: 12px;
  color: lightgray;
  a {
    text-decoration: underline;
    color: lightgray;
    &:hover {
      cursor: pointer;
    }
  }
}
.access-member {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  button {
    width: 300px;
    border-radius: 0%;
    font-weight: bold;
  }
  a {
    text-decoration: underline;
    font-size: 15px;
  }
}
// popup terminal
h2 {
  font-size: 24px;
  line-height: 28px;
  margin-left: 90px;
}

h3 {
  font-size: 30px;
  text-align: center;
}

#video-nike {
  width: 90%;
  margin-left: 90px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  background-color: rgb(0, 0, 0);
  color: #f5f5f5;
  border-radius: 20px;
  width: 155px;
  height: 35px;
  margin: 5px;

  a {
    text-decoration: none;
    color: #f5f5f5;
  }
}

button:hover {
  opacity: 0.5;
}

.download-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .button-download {
    display: flex;
    justify-content: center;
  }
}

.paragraph-app {
  text-align: left;
  font-size: 21px;
  margin-left: 14rem;
}

.image1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    margin-left: -20rem;
    margin-top: 50px;
  }
}
.paragraph-imag1 {
  font-size: 22px;
  text-align: left;
}

.link-paragraph {
  text-decoration: solid;
}

.yellow {
  width: 80%;
}

.we-run {
  width: 100%;
}

.more-info {
  margin-left: 14rem;
}

#container-img2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fig-werun {
  text-align: left;
  line-height: 40px;
  button {
    margin-left: 14rem;
    #link-plus {
      text-decoration: none;
      color: black;
    }
  }
}

.first-par {
  text-align: left;
  margin-left: 14rem;
  font-size: 20px;
}

.image3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .run-blu {
    width: 100%;
    .more-info {
      margin-left: 14rem;
    }
  }
}

.image4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .naples {
    width: 100%;
  }
}

#container-img5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15rem;
  .gallery {
    width: 60vw;
  }
}

.title {
  text-align: left;
  margin-left: 14rem;
}

a {
  color: black;
  text-decoration: none;
}

.arrow {
  display: flex;
  justify-content: flex-end;
  .arrow-direction {
    background-color: lightgray;
    border: none;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
  }
}

.carousel {
  margin: 5px 0;
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    li {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }
  figure {
    margin: 5px;
  }
}

h3.car-title {
  text-align: left;
  margin-left: 40px;
}

p.car-par {
  text-align: left;
  margin-left: 40px;
  font-size: 18px;
}

.carousel-info {
  margin-left: 40px;
}

.image-trhee {
  display: flex;
  flex-direction: row;
  margin: 2px;
  figure {
    margin: 5px;
  }
}

h2 {
  font-size: 30px;
  margin-left: 40px;
}

.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.image-central {
  display: flex;
  justify-content: center;
}

.streccing {
  width: 70vw;
}

.first-article {
  h2 {
    text-align: left;
    margin-left: 20rem;
  }
  p {
    text-align: left;
    margin-left: 20rem;
    font-size: 20px;
  }
}

.second-article {
  text-align: left;
  margin-left: 5rem;
  h2 {
    text-align: left;
    margin-left: 17rem;
  }
  p {
    text-align: left;
    font-size: 21px;
    margin-left: 17rem;
  }
}

.list-article {
  margin-left: 14rem;
  li {
    font-size: 23px;
  }
}

.image-pink {
  display: flex;
  justify-content: center;
}

.run-pink {
  width: 67vw;
}

.third-article {
  text-align: left;
  h2 {
    margin-left: 19rem;
  }
  p {
    margin-left: 19rem;
    font-size: 20px;
  }
}

.image-girl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.girl-run {
  width: 67vw;
}

.last-three {
  display: flex;
  flex-direction: row;
  justify-content: center;
  img {
    width: 120%;
  }
  figure {
    margin: 50px;
  }
}

.title-series {
  margin-left: 5rem;
}

.para-series {
  margin-left: 5rem;
}

.series-info {
  margin-left: 5rem;
}

.total-footer {
  width: 100%;
  height: 400px;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list-footer1 {
  margin-top: 50px;
  ul {
    list-style-type: none;
    li {
      margin: 1rem;
      a {
        color: white;
        font-weight: 10px;
      }
    }
  }
}

.list-footer2 {
  margin-top: 50px;
  ul {
    list-style-type: none;
    li {
      margin: 1rem;
      color: white;
      cursor: pointer;
      a {
        color: lightgray;
        font-weight: 10px;
        &:hover {
          color: white;
        }
      }
    }
  }
}

.list-footer3 {
  margin-top: 50px;
  ul {
    list-style-type: none;
    li {
      margin: 1rem;
      color: white;
      cursor: pointer;
      a {
        color: lightgray;
        font-weight: 10px;
        &:hover {
          color: white;
        }
      }
    }
  }
}

.list-footer4 {
  margin-top: 50px;
  ul {
    list-style-type: none;
    li {
      margin: 1rem;
      color: white;
      cursor: pointer;
      a {
        color: lightgray;
        font-weight: 10px;
        &:hover {
          color: white;
        }
      }
    }
  }
}

.icon-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightgray;
    margin: 5px;
  }
  i {
    margin: 5px;
    background-color: lightgrey;
    margin: 13px;
    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}
.total-down {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.down-list {
  ul {
    list-style-type: none;
    li {
      display: inline;
      margin: 0;
      a {
        color: white;
        font-size: 8px;
        margin: 5px;
      }
    }
  }
}

.down-footer {
  p {
    color: white;
    font-size: 10px;
  }
}

@media screen and (min-width: 100px) and (max-width: 950px) {
  .menu {
    display: none;
  }
  #search {
    display: none;
  }
  .title-nike {
    display: none;
  }
  #video-nike {
    margin: auto;
    width: 100%;
  }
  .image1 {
    .title {
      margin: 0;
    }
  }
  article h3 {
    margin: auto;
  }
  .fig-werun {
    h3 {
      margin: auto;
      line-height: 1;
    }
    button {
      margin: 0;
    }
  }
  .first-par {
    margin: auto;
    font-size: 15px;
    line-height: 1.5;
  }
  .paragraph-app {
    margin: auto;
    font-size: 15px;
  }
  .paragraph-imag1 {
    margin: auto;
    font-size: 15px;
  }
  #container-img5 {
    width: 100%;
    margin: auto;
  }
  .carousel h2 {
    margin: auto;
  }
  .gallery {
    width: 100%;
    margin-left: 50px;
  }
  .carousel1 {
    width: 50vw;
  }
  .car-par {
    font-size: 15px;
    margin: auto;
  }
  .carousel2 {
    width: 50vw;
  }
  .carousel3 {
    width: 50vw;
  }
  .carousel4 {
    width: 50vw;
  }
  .carousel5 {
    width: 50vw;
  }
  .wrapper {
    width: 50vw;
  }
  .first-article h2 {
    margin: auto;
  }
  .first-article p {
    margin: 0;
    line-height: 1;
  }
  .title-os {
    margin: auto;
  }
  .second-article {
    h2 {
      margin: 0;
    }
    p {
      margin: 0;
      line-height: 1.7;
    }
  }
  .second-article .title {
    margin-left: 0;
  }
  .third-article {
    h2 {
      margin: 0;
    }
    p {
      margin: 0;
      font-size: 18px;
    }
  }
  .qr-code {
    display: none;
  }
  .title-artic3 {
    margin: auto;
    margin-top: 10px;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: auto;
  }
  .icon-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .down-footer {
    display: none;
  }
  .down-list {
    display: flex;
    flex-direction: column;
  }
  .list-footer1 {
    display: none;
  }
  .list-footer2 {
    display: none;
  }
  .list-footer3 {
    display: none;
  }
  .list-footer4 {
    display: none;
  }
}
