* {
  margin: 0;
  padding: 0;
}

body {
  color: #111;
  background-color: #fff;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  border: none;
  color: #111;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: #757575;
  }
}

.separator {
  margin: 0 4px 0 4px;
}

a svg:hover {
  fill: gray;
}

img {
  width: 100%;
  height: auto;
}

header,
.main-stick-nav,
main,
footer {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
